* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho h1 {
    margin: 16px;
    text-decoration: underline;
    font-size: 32px;
}

.principal p {
    margin: 16px 16px 40px 16px;
    padding: 20px;
    text-align: justify;
}

.principal .paragrafo-comum {
    background-color: #F5F5F5;
}

.principal .paragrafo-destaque {
    background-color: #F0CCE2;
}

.rodape {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 5px;
}

.rodape p a {
    text-decoration: none;
    color: #fff;
}

.rodape p a:hover {
    text-decoration: underline;
    font-weight: bold;
}