* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main section h1 {
    margin: 16px;
    text-decoration: underline;
}

main section a img {
    margin: 16px;
}




.rodape {
    margin-top: 30px;
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 5px;
}

.rodape p a {
    text-decoration: none;
    color: #fff;
}

.rodape p a:hover {
    text-decoration: underline;
}