* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.cabecalho h1 {
    text-decoration: underline;
    margin: 16px;
}

.moda h2, .casa h2 {
    margin: 16px;
}

table {
    margin: 16px;

}

th, td {
    padding: 5px;
}

.tabela-moda th {
    background-color: #BB86FC;
    color: white;
}

.tabela-casa th{
    background-color: #00C4B4;
    color: white;
}

.tabela-moda td, .tabela-casa td {
    background-color: #424250;
    color: white;
}

.rodape {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}

.rodape p a {
    text-decoration: none;
    color: #fff;
}

.rodape p a:hover {
    text-decoration: underline;
    font-weight: bold;
}