* {
    padding: 0;
    margin: 0;
}

h1 {
    text-decoration: underline;
    margin: 16px;
}

h2 {
    margin: 16px;
}

table {
    margin: 16px;
}

th, td {
    padding: 5px;
}
.cabecalho-moda {
    background-color: #BB86FC;
    color: white;
    
}

.produtos-moda {
    background-color: #424250;
    color: white;
}

.cabecalho-casa {
    background-color: #00C4B4;
    color: white;
    
}

.produtos-casa {
    background-color: #424250;
    color: white;
}


.rodape {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
}

.rodape p a {
    text-decoration: none;
    color: #fff;
}

.rodape p a:hover {
    text-decoration: underline;
}