* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-decoration: underline;
    margin: 10px;
    font-size: 2em;
}

.conteudo {
    margin: 30px;
}

.conteudo .item {
    margin-bottom: 10px;
}

.total {
    background-color: #000;
    color: #fff;
    padding: 5px;
    margin-bottom: 50px;
}

.rodape {
    text-align: center;
    color: #000;
    padding: 5px;
}

.rodape p strong a {
    text-decoration: none;
    color: #000;
}

.rodape p strong:hover {
    text-decoration: underline;
    cursor: pointer;
}